In [12]:
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
plt.style.use('seaborn')
%matplotlib inline

In [15]:
from streaming_data.stream import get_data

data = get_data()[1:]
royalty_sum = data

             label_id  release_id  sum_units  sum_royalty  territory_id
report_date
2018-02-13         16         546          2         0.01           176
2018-02-13         16        1663          1         0.01           183
2018-02-13         16        2015          1         0.01           235
2018-02-13         16        4253          2         0.01           183
2018-02-13         16        4253          1         0.01           183
2018-02-13         16        4681          4         0.03            81
2018-02-13         16        4681          7         0.05            81
2018-02-13         16        4690          1         0.01            99
2018-02-13         16        5612          2         0.01            81
2018-02-13         16        5791          2         0.01           183
2018-02-13         16        5791          2         0.01           233
2018-02-13         16        5791          2         0.01           183
2018-02-13         16        5791         74         0.52           183
2018-02-13         16        5791          2         0.01           183
2018-02-13         16        5791          4         0.03            99
2018-02-13         16        5791          1         0.01           183
2018-02-13         16        7872          1         0.01            21
2018-02-13         16        8466          1         0.01            81
2018-02-13         16        9198         12         0.08           228
2018-02-13         16        9198         12         0.08           142
2018-02-13         16       12294         11         0.08           232
2018-02-13         16       14838          2         0.01           142
2018-02-13         16       15824          1         0.01            13
2018-02-13         16       15824          2         0.01            13
2018-02-13         16       15824          1         0.01            13
2018-02-13         16       15824          2         0.01            13
2018-02-13         16       15824          2         0.01            13
2018-02-13         16       15824          2         0.01            13
2018-02-13         16       15824          1         0.01            13
2018-02-13         16       15824          5         0.04            13
...               ...         ...        ...          ...           ...
2018-02-15      14916      230405          4         0.03           232
2018-02-15      14916      230407          2         0.01           232
2018-02-15      14916      230407          3         0.02           232
2018-02-15      14916      230407          3         0.02           232
2018-02-15      14916      230407          4         0.03           232
2018-02-15      14916      230407          4         0.03           232
2018-02-15      14916      236594          2         0.01           232
2018-02-15      14928      235777          1         0.01           232
2018-02-15      14928      235777          1         0.01           232
2018-02-15      14928      235777          1         0.01           232
2018-02-15      14954      233137          2         0.01           232
2018-02-15      14954      233137          4         0.03           232
2018-02-15      14960      234863          1         0.01           232
2018-02-15      15048      234657          5         0.04           232
2018-02-15      15048      234657          1         0.01           232
2018-02-15      15127      233564          9         0.06           233
2018-02-15      15128      233399          1         0.01           183
2018-02-15      15145      232821         10         0.07           183
2018-02-15      15145      232821          2         0.01            40
2018-02-15      15181      235993          4         0.03           232
2018-02-15      15287      235101          8         0.06           232
2018-02-15      15310      235153         20         0.14           232
2018-02-15      15329      235389          2         0.01           232
2018-02-15      15349      235593       1496        10.47           232
2018-02-15      15403      235996          1         0.01           232
2018-02-15      15403      235996          1         0.01           232
2018-02-15      15403      235996          2         0.01           232
2018-02-15      15403      235996          1         0.01           232
2018-02-15      15403      235996          1         0.01           232
2018-02-15      15440      236538          2         0.01            57

[24296 rows x 5 columns]